!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@participant.course.name}
    %h2
      #{@participant.complete_name}
    %p
      Tu registro ha sido efectuado de manera correcta.
      %br
      %br
      #{@participant.course.info_after_reg}
      %br
      %br
        No es necesario que respondas este correo.
