!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@course_name}
    %h2
      #{@participant_name}
    %p
      Tu registro ha sido efectuado de manera correcta.
      %br
      %br
      #{@info_after_reg}
      %br
      %br
        No es necesario que respondas este correo.
