#c-container{style: "background-color: ##{@catalogs_participant.course.color_theme_l 3,0.4};"}
  #c-header{style: "background-color: ##{@catalogs_participant.course.color_theme1};"}
    #c-header-bg
    #c-header-logo
  #c-course-info{style: "background-color: ##{@catalogs_participant.course.color_theme_l 3,0.6}; color: ##{@catalogs_participant.course.color_theme1}"}
