:plain
  $('#copy-event').html("#{escape_javascript(render 'copy_event')}");
  $('#copy-event').dialog({
    title: "#{@catalogs_course.name}",
    width: 450,
    modal: true,
  });
  load_jquery_ui();
