-#TODO Translate Errors
- if @errors
  $('.error-explanation').html("#{escape_javascript(render 'layouts/validation_errors', errors: @errors)}");
  resize_and_center_ui_dialog();
- else
  :plain
    $('#new-dialog').dialog("close");
    $('#record-list').empty();
    $('#record-list').html("#{escape_javascript(render 'record_tbl')}");
    jqbuttons();
