- if @errors
  $('.error-explanation').html("#{escape_javascript(render 'layouts/validation_errors', errors: @errors)}");
  center_ui_dialog();
- else
  :plain
    $('#copy-event').dialog("close");
    $('#record-list').empty();
    $('#record-list').html("#{escape_javascript(render 'record_tbl')}");
    jqbuttons();
