%h1= t('titles.participants')

.alert-notice
  =render partial: 'layouts/alert_notice'

=render 'layouts/search', url: catalogs_participants_path

%br

#record-list
  =render partial: 'record_tbl'

%br

.sp



-#%h1 Listing catalogs_participants

-#= link_to_jq_button(url: catalogs_courses_path, icon: 'arrowreturn-1-w', text: t('commands.back'), remote: false )



-#  - @catalogs_participants.each do |catalogs_participant|

-#      %td= link_to 'Show', catalogs_participant
-#      %td= link_to 'Edit', edit_catalogs_participant_path(catalogs_participant)
-#      %td= link_to 'Destroy', catalogs_participant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-#= link_to 'New Participant', new_catalogs_participant_path

