%h1= t('titles.participants')

.alert-notice
  =render partial: 'layouts/alert_notice'

.sp
=render 'layouts/search', url: catalogs_participants_list_path(params[:course_id])

.t-right
  = link_to_jq_button(url: catalogs_courses_path, icon: 'arrowreturn-1-w', text: t('commands.back'), remote: false )

.sp
#record-list
  =render partial: 'record_tbl'

.sp
.t-right
  = link_to_jq_button(url: catalogs_courses_path, icon: 'arrowreturn-1-w', text: t('commands.back'), remote: false )

