/*
 *= require_directory ./owl-carousel
 */
//@import "compass";
//@import "blueprint/grid";
@import "compass/reset";

$blueprint-container-size: 990px;
$font-family: Arial,Helvetica;

#c-container{
  margin: 0;
  min-height: 100%;
  width: 100%;
}

#c-header{
  #c-header-bg {
    width: 990px;
    height: 80px;
    background: asset-url('c_header_bg.gif', image) no-repeat;
    margin: 0 auto;
    opacity: 0.2;
  }
  #c-header-logo{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: asset-url('c_header_logo.png', image) no-repeat;
    height: 80px;
    width: 155px;
    overflow-y: hidden;
  }
}

#c-footer {
  line-height: 25px;
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
}

#c-course-info{
  width: 960px;
  margin: 0 auto;
  min-height: 600px;
  padding: 15px;
  font-family: $font-family;
}

#c-description{
  font-size: 1.2em;
  padding: 1em 0;
  text-align: center;
}

#name{
  text-align: center;
  font-size: 30px;
  border-bottom: solid 2px;
  padding-bottom: 1em;
}

#carousel .item{
  display: block;
  width: 960px;
  height: 260px;
  border-bottom: solid 2px;
}

.tbl-course-info{
  display: block;
}

.row{
  border: inherit;
}

.col-1{
  float: left;
  width: 25%;
  font-size: 0.8em;
}

.col-2{
  margin-left: 25%;
  width: 75%;
  font-size: 0.9em;
}

.alt-0{
  background-image: url('alt-0.png');
}

.alt-1{
  background-image: url('alt-1.png');
}

.c-info{
  padding-top: 0.5em;  
  padding-bottom: 0.5em;
  border: inherit;
  &:hover{
    background-image: url('hover.png');
    font-weight: bold;
  }
}

.c-link{
  a:link {
    color: inherit;
  }
  a:visited{
    color: inherit;
  }
}

.alert{
  width: 600px;
  height: 50px;
  border: solid #ff0000 3px;
  margin: 20px auto;
  text-align: center;
  padding-top: 20px;
  background-image: url('hover.png');
  background-color: hotpink;
  font-size: 30px !important;
  border-radius: 15px;
}

