!!!
%html
  %head
    %title .:: Cursos Eventos UNAM - INB ::.
    -# <link rel="shortcut icon" href="faviicon.png">    
    = stylesheet_link_tag    'public', media: "all", "data-turbolinks-track" => true
    = javascript_include_tag 'app', "data-turbolinks-track" => true
    = csrf_meta_tags
    %body
      //#header
      = yield
